name: Execute Puppeteer Script and Generate Reported

on:
  workflow_dispatch:
    inputs:
      min_installs:
        description: "Minimum installs"
        required: true
        default: "1000"
      max_installs:
        description: "Maximum installs"
        required: true
        default: "5000"
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-venv wget git libnss3 libxss1

      - name: Clone repository
        run: git clone https://github.com/d4rk5id3r/autorun.git

      - name: Sleep for 10 Seconds
        run: sleep 10

      - name: Run download worker with inputs
        run: |
          cd autorun && pwd && ls && python3 download_worker.py --min ${{ inputs.min_installs }} --max ${{ inputs.max_installs }}

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: /home/runner/work/extractor/extractor/plugins_downloader/report_line_12.txt

      - name: Cleanup
        run: rm -rf extracted_plugins/*

      - name: Run extractor
        run: |
          cd plugins_downloader && python3 extractor.py
          echo -e "12" | ./single_grep.sh
