name: Execute Puppeteer Script and Generate Reported

on:
  workflow_dispatch:
    inputs:
      min_installs:
        description: "Minimum installs"
        required: true
        default: "1000"
      max_installs:
        description: "Maximum installs"
        required: true
        default: "5000"

  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            wget subversion git sudo ripgrep python3 python3-venv python3-pip \
            gnupg2 libnss3 libxss1 libx11-xcb1 libxcomposite1 libatk-bridge2.0-0 \
            libatk1.0-0 libcups2 libdbus-1-3 libnspr4 libxrandr2 libxshmfence1 \
            libgtk-3-0 fonts-liberation libappindicator3-1 libx11-dev libxrender-dev

      - name: Clone repository
        run: git clone https://github.com/d4rk5id3r/autorun.git

      - name: Sleep for 10 seconds
        run: sleep 10

      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install requests tqdm

      - name: Run download worker with inputs
        run: |
          cd autorun
          python3 download-worker.py --min ${{ inputs.min_installs }} --max ${{ inputs.max_installs }}

      - name: Upload plugin zips
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: plugins-${{ inputs.min_installs }}-${{ inputs.max_installs }}
          path: autorun/plugins/*.zip

      - name: Upload report
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: report
          path: /home/runner/work/Auto-Recon/Auto-Recon/plugins_downloader/report_line_12.txt

      - name: Cleanup extracted plugins
        run: |
          rm -rf extracted_plugins/* || true
          echo "Cleanup complete"

      - name: Run extractor
        run: |
          cd plugins_downloader && pwd && python3 extractor.py
          echo -e "12" | ./single_grep.sh
